<a href="https://colab.research.google.com/github/joungminhee/study/blob/master/big_data3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#라이브러리 임포트

In [2]:
import pandas as pd
import numpy as np

#1-20
주어진 데이터(basic2.csv)에서 주 단위 Sales의 합계를 구하고, 가장 큰 값을 가진 주와 작은 값을 가진 주의 차이를 구하시오(절대값)

In [ ]:
data= '/content/basic2.csv'

In [ ]:
df=pd.read_csv(data)
df.head()

         Date     Sales      PV      UV  Events
0  2022-01-01  22711525  397349  4421.0       1
1  2022-01-02     36779    3969  2289.0       0
2  2022-01-03  13943875  373890     NaN       1
3  2022-01-04   8088593  142054  2157.0       0
4  2022-01-05   2395374  190684     NaN       0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    730 non-null    datetime64[ns]
 1   Sales   730 non-null    int64
 2   PV      730 non-null    int64
 3   UV      684 non-null    float64
 4   Events  730 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 28.6 KB

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])

In [ ]:
df_index = df.set_index('Date')
df_index

               Sales      PV      UV  Events
Date
2022-01-01  22711525  397349  4421.0       1
2022-01-02     36779    3969  2289.0       0
2022-01-03  13943875  373890     NaN       1
2022-01-04   8088593  142054  2157.0       0
2022-01-05   2395374  190684     NaN       0
...              ...     ...     ...     ...
2023-12-27  33846609  415067  7360.0       1
2023-12-28   3659566  208601  2262.0       1
2023-12-29   1164008   14309   193.0       0
2023-12-30   3977696   60935     NaN       0
2023-12-31   3719764   60963  1507.0       0

[730 rows x 4 columns]

In [ ]:
# 단위
# 주 단위 W
# 2주 단위 2W
# 월 단위 M
df_sum = df_index.resample('W')['Sales'].sum()
df_sum

Date
2022-01-02    22748304
2022-01-09    33373822
2022-01-16    20754519
2022-01-23    21880751
2022-01-30    28878452
                ...
2023-12-03    47120909
2023-12-10    46398053
2023-12-17    20763518
2023-12-24    34528035
2023-12-31    51435189
Freq: W-SUN, Name: Sales, Length: 105, dtype: int64

In [ ]:
df_max = df_sum.max()

In [ ]:
df_min = df_sum.min()

In [ ]:
abs(df_max - df_min)

91639050

#1-21
* f1의 결측치를 채운 후 age 컬럼의 중복 제거 전과 후의 'f1' 중앙값 차이를 구하시오
* 결측치는 f1의 데이터 중 내림차순 정렬 후 10번째 값으로 채움
* 중복 데이터 발생시 뒤에 나오는 데이터를 삭제함
* 최종 결과값은 절대값으로 출력

In [ ]:
data1='/content/basic1.csv'

In [ ]:
df1=pd.read_csv(data1)
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      100 non-null    object
 1   age     100 non-null    float64
 2   city    100 non-null    object
 3   f1      69 non-null     float64
 4   f2      100 non-null    int64
 5   f3      5 non-null      object
 6   f4      100 non-null    object
 7   f5      100 non-null    float64
dtypes: float64(3), int64(1), object(4)
memory usage: 6.4+ KB

In [ ]:
df1['f1'].sort_values(ascending=False).head(10)

56    111.0
7     101.0
57    100.0
73     98.0
71     97.0
69     96.0
77     96.0
32     94.0
48     88.0
44     88.0
Name: f1, dtype: float64

In [ ]:
df1['f1'] = df1['f1'].fillna(88)

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      100 non-null    object
 1   age     100 non-null    float64
 2   city    100 non-null    object
 3   f1      100 non-null    float64
 4   f2      100 non-null    int64
 5   f3      5 non-null      object
 6   f4      100 non-null    object
 7   f5      100 non-null    float64
dtypes: float64(3), int64(1), object(4)
memory usage: 6.4+ KB

In [ ]:
before = df1['f1'].median()

In [ ]:
# .drop_duplicates() 중복제거함수
df1 = df1.drop_duplicates(subset=['age'])

In [ ]:
after = df1['f1'].median()

In [ ]:
abs(before - after)

0.5

#1-22
* 주어진 데이터(basic2.csv)에서 새로운 컬럼(1일 이전 시차 컬럼)을 만들고, 
* Events가 1이면서 Sales가 1000000이하인 조건에 맞는 새로운 컬럼 합을 구하시오

In [ ]:
data ='/content/basic2.csv'
df = pd.read_csv(data)

In [ ]:
df.head()

         Date     Sales      PV      UV  Events
0  2022-01-01  22711525  397349  4421.0       1
1  2022-01-02     36779    3969  2289.0       0
2  2022-01-03  13943875  373890     NaN       1
3  2022-01-04   8088593  142054  2157.0       0
4  2022-01-05   2395374  190684     NaN       0

In [ ]:
# 결측치 확인
df.isnull().sum()

Date       0
Sales      0
PV         0
UV        46
Events     0
dtype: int64

In [ ]:
# period에 넣은 값만큼 행이 밀립니다.
# 행전체를 아래로 내리고 싶다면 양의정수를 넣고 위로 올리고 싶다면 음의 정수를 넣습니다.
df['before_1']= df['PV'].shift(1)

In [ ]:
df.head()

         Date     Sales      PV      UV  Events  before_1
0  2022-01-01  22711525  397349  4421.0       1       NaN
1  2022-01-02     36779    3969  2289.0       0  397349.0
2  2022-01-03  13943875  373890     NaN       1    3969.0
3  2022-01-04   8088593  142054  2157.0       0  373890.0
4  2022-01-05   2395374  190684     NaN       0  142054.0

In [ ]:
# 1일 씩 미뤘음으로 가장 앞이 결측값이 됨 (바로 뒤의 값으로 채움=bfill)
df['before_1'] = df['before_1'].fillna(method = 'bfill')
# method : 결측값을 변경할 방식입니다. bfill로 할경우 결측값을 바로 아래 값과 동일하게 변경합니다.
# ffill로 할 경우 결측값을 바로 위 값과 동일하게 변경합니다.
df.head()

         Date     Sales      PV      UV  Events  before_1
0  2022-01-01  22711525  397349  4421.0       1  397349.0
1  2022-01-02     36779    3969  2289.0       0  397349.0
2  2022-01-03  13943875  373890     NaN       1    3969.0
3  2022-01-04   8088593  142054  2157.0       0  373890.0
4  2022-01-05   2395374  190684     NaN       0  142054.0

In [ ]:
# Events가 1이면서 Sales가 1000000이하인 조건에 맞는 새로운 컬럼 합
new = (df['Events']==1) & (df['Sales'] <= 1000000)

In [ ]:
new #boolen형

0      False
1      False
2      False
3      False
4      False
       ...
725    False
726    False
727    False
728    False
729    False
Length: 730, dtype: bool

In [ ]:
df['before_1']

0      397349.0
1      397349.0
2        3969.0
3      373890.0
4      142054.0
         ...
725     51258.0
726    415067.0
727    208601.0
728     14309.0
729     60935.0
Name: before_1, Length: 730, dtype: float64

In [ ]:
df[new]['before_1'].sum()
#boolne형에 맞는 값들을 합쳐라

1894876.0

#모의고사

In [78]:
data = '/content/basic1.csv'
df = pd.read_csv(data)
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

## 1
순서대로 50:50으로 데이터를 나누고, 앞에서 부터 50%의 데이터(이하, A그룹)는 'f1'컬럼을 A그룹의 중앙값으로 채우고, 

뒤에서부터 50% 데이터(이하, B그룹)는 'f1'컬럼을 B그룹의 최대값으로 채운 후, A그룹과 B그룹의 표준편차 합을 구하시오


단, 소수점 첫째자리까지 구하시오 (둘째자리에서 반올림)

In [37]:
dfa= df[:50]
dfb = df[50:]

dfa.shape, dfb.shape

((50, 8), (50, 8))

In [38]:
dfa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      50 non-null     object
 1   age     50 non-null     float64
 2   city    50 non-null     object
 3   f1      35 non-null     float64
 4   f2      50 non-null     int64
 5   f3      2 non-null      object
 6   f4      50 non-null     object
 7   f5      50 non-null     float64
dtypes: float64(3), int64(1), object(4)
memory usage: 3.2+ KB

In [39]:
dfa['f1'] = dfa['f1'].fillna(dfa['f1'].median())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [40]:
dfb['f1'] = dfb['f1'].fillna(dfb['f1'].max())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [41]:
a = dfa['f1'].std()
a

13.70239067477211

In [42]:
b = dfb['f1'].std()

In [43]:
round(a+b,2)

42.0

#2. 
'f4'컬럼을 기준 내림차순 정렬과 'f5'컬럼기준 오름차순 정렬을 순서대로 다중 조건 정렬하고나서 

앞에서부터 10개의 데이터 중 'f5'컬럼의 최소값 찾고, 

이 최소값으로 앞에서 부터 10개의 'f5'컬럼 데이터를 변경함. 

그리고 'f5'컬럼의 평균값을 계산함, 단 소수점 둘째자리까지 출력(셋째자리에서 반올림)

In [45]:
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [68]:
df =df.sort_values(['f4','f5'],ascending=[False,True]).reset_index(drop=True)
df

      id   age city    f1  f2   f3    f4         f5
0   id43  23.0   대구  60.0   0  NaN  ISTP  29.269869
1   id70  -9.0   경기  96.0   1  NaN  ISTP  48.431184
2   id17  74.0   서울   NaN   1  NaN  ISTP  67.886373
3   id23  34.0   부산  75.0   1  NaN  ISTP  69.730313
4   id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
..   ...   ...  ...   ...  ..  ...   ...        ...
95  id33  47.0   부산  94.0   0  NaN  ENFJ  17.252986
96  id41  81.0   대구  55.0   0  NaN  ENFJ  37.113739
97  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
98  id54  53.0   대구   NaN   1  NaN  ENFJ  69.730313
99  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791

[100 rows x 8 columns]

In [70]:
df.iloc[:10,7] = df['f5'][:10].min()
# 10번째 행까지, 7번째컬럼

In [75]:
df

      id   age city    f1  f2   f3    f4         f5
0   id43  23.0   대구  60.0   0  NaN  ISTP  17.252986
1   id70  -9.0   경기  96.0   1  NaN  ISTP  17.252986
2   id17  74.0   서울   NaN   1  NaN  ISTP  17.252986
3   id23  34.0   부산  75.0   1  NaN  ISTP  17.252986
4   id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
..   ...   ...  ...   ...  ..  ...   ...        ...
95  id33  47.0   부산  94.0   0  NaN  ENFJ  17.252986
96  id41  81.0   대구  55.0   0  NaN  ENFJ  37.113739
97  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
98  id54  53.0   대구   NaN   1  NaN  ENFJ  69.730313
99  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791

[100 rows x 8 columns]

In [77]:
round(df['f5'].mean(),2)

53.63

# 3
'age' 컬럼의 IQR방식을 이용한 이상치 수와 표준편차*1.5방식을 이용한 이상치 수 합을 구하시오

IQR방식 : Q1 - 1.5 IQR, Q3 + 1.5 IQR에서 벗어나는 영역을 이상치라고 판단함 

(Q1은 데이터의 25%, Q3는 데이터의 75% 지점임)

표준편차1.5방식: 평균으로부터 '표준편차1.5'를 벗어나는 영역을 이상치라고 판단함

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      100 non-null    object
 1   age     100 non-null    float64
 2   city    100 non-null    object
 3   f1      69 non-null     float64
 4   f2      100 non-null    int64
 5   f3      5 non-null      object
 6   f4      100 non-null    object
 7   f5      100 non-null    float64
dtypes: float64(3), int64(1), object(4)
memory usage: 6.4+ KB

In [81]:
# 'age' 컬럼의 IQR방식을 이용한 이상치 수
q1 = df['age'].quantile(.25)
q3 = df['age'].quantile(.75)
iqr = q3 - q1
min_iqr = q1 - 1.5*iqr
max_iqr = q3 + 1.5*iqr
print(min_iqr, max_iqr)

-48.3125 152.1875

In [82]:
# 표준편차*1.5방식을 이용한 이상치 수
std = df['age'].std()*1.5
mean = df['age'].mean()
min_out = mean - std
max_out = mean + std
print(min_out, max_out)

5.298862216116952 96.62713778388306

In [84]:
out1 = sum((df['age'] < min_iqr) | (df['age'] > max_iqr))
out1

0

In [85]:
out2 = sum((df['age'] < min_out) | (df['age'] > max_out))
out2

14

In [86]:
out1 + out2

14