<a href="https://colab.research.google.com/github/joungminhee/study/blob/master/big_data2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1-4
왜도와 첨도 구하기
* 주어진 데이터 중 train.csv에서 'SalePrice'컬럼의 왜도와 첨도를 구한 값과, 
* 'SalePrice'컬럼을 스케일링(log1p)로 변환한 이후 왜도와 첨도를 구해 모두 더한 다음 소수점 2째자리까지 출력하시오
* 데이터셋 : House Prices - Advanced Regression Technique

In [3]:
import pandas as pd
import numpy as np

In [ ]:
data = '/content/집값예측.csv'

In [ ]:
df = pd.read_csv(data)
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [ ]:
df.info()

In [ ]:
#  'SalePrice'컬럼의 왜도와 첨도를 구한 값
skew = df['SalePrice'].skew()
kurt = df['SalePrice'].kurt()
print(skew)
print(kurt)
# DataFrame.skew() 왜도
# DataFrame.kurt() 첨도

1.8828757597682129
6.536281860064529

In [ ]:
# 'SalePrice'컬럼을 스케일링(log1p)로 변환
df['SalePrice'] = np.log1p(df['SalePrice'])

In [ ]:
# 왜도와 첨도를 구해 모두 더한 다음 소수점 2째자리까지 출력하시오
skew2 = df['SalePrice'].skew()
kurt2 = df['SalePrice'].kurt()

print(round(skew+kurt+skew2+kurt2,2))

9.35

# 1-5
조건에 맞는 데이터 표준편차 구하기
* 주어진 데이터 중 basic1.csv에서 'f4'컬럼 값이 'ENFJ'와 'INFP'인 'f1'의 표준편차 차이를 절대값으로 구하시오
* 데이터셋 : basic1.csv

In [ ]:
data = '/content/basic1.csv'
df= pd.read_csv(data)
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [ ]:
# 'f4'컬럼 값이 'ENFJ'와 'INFP'
enfj = df[df['f4']=='ENFJ']['f1'].std()

In [ ]:
infp = df[df['f4']=='INFP']['f1'].std()

In [ ]:
# 'f1'의 표준편차 차이를 절대값으로 구하시오
print(abs(enfj-infp))

5.859621525876811

# 1-6
결측치 제거 및 그룹 합계에서 조건에 맞는 값 찾아 출력
* 주어진 데이터 중 basic1.csv에서 'f1'컬럼 결측 데이터를 제거하고, 
* 'city'와 'f2'을 기준으로 묶어 합계를 구하고, 
* 'city가 경기이면서 f2가 0'인 조건에 만족하는 f1 값을 구하시오
* 데이터셋 : basic1.csv

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69 entries, 1 to 99
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      69 non-null     object
 1   age     69 non-null     float64
 2   city    69 non-null     object
 3   f1      69 non-null     float64
 4   f2      69 non-null     int64
 5   f3      4 non-null      object
 6   f4      69 non-null     object
 7   f5      69 non-null     float64
dtypes: float64(3), int64(1), object(4)
memory usage: 4.9+ KB

In [ ]:
# 'f1'컬럼 결측 데이터를 제거하고,
df = df[df['f1'].notnull()] # df의 f1이 null이 아닌 것을 변수에 저장 -> 결측치 제거

In [ ]:
# 'city'와 'f2'을 기준으로 묶어 합계를 구하고
df2 = df.groupby(['city','f2']).sum()
df2

            age     f1           f5
city f2
경기   0   1088.9  833.0  1391.927648
     1    976.0  670.0   935.958628
     2    239.0  311.0   362.300060
대구   0    578.0  527.0   371.184620
     1    393.6  235.0   404.779978
     2    140.0  211.0    79.667919
부산   0    481.0  389.0   395.272907
     1    430.7  315.0   460.657406
     2     16.5   47.0   101.195372
서울   0    220.0  278.0   484.809540
     1    389.3  534.0   506.371383
     2    143.3  207.0   179.328213

In [ ]:
# 'city가 경기이면서 f2가 0'인 조건에 만족하는 f1 값을 구하시오
print(df2.iloc[0]['f1'])

833.0

#1-7
* 'f4'컬럼의 값이 'ESFJ'인 데이터를 'ISFJ'로 대체하고, 
* 'city'가 '경기'이면서 'f4'가 'ISFJ'인 데이터 중 'age'컬럼의 최대값을 출력하시오!

In [ ]:
# 'f4'컬럼의 값이 'ESFJ'인 데이터를 'ISFJ'로 대체하고
df[df['f4']=='ESFJ'] = 'ISFJ'
# df['f4'] = df['f4'].replace('ESFJ', 'ISFJ')

In [ ]:
df[df['f4'] == 'ESFJ']

Empty DataFrame
Columns: [id, age, city, f1, f2, f3, f4, f5]
Index: []

In [ ]:
df[(df['city']=='경기')&(df['f4']=='ISFJ')]['age'].max()

90.0

#1-8
* 주어진 데이터 셋에서 'f2' 컬럼이 1인 조건에 해당하는 데이터의 'f1'컬럼 누적합을 계산한다. 
* 이때 발생하는 누적합 결측치는 바로 뒤의 값을 채우고, 누적합의 평균값을 출력한다. 
* (단, 결측치 바로 뒤의 값이 없으면 다음에 나오는 값을 채워넣는다
* 데이터셋 : basic1.csv

In [ ]:
# 'f2' 컬럼이 1인 조건에 해당하는 데이터의 'f1'컬럼 누적합
df2 = df[df['f2']==1]['f1'].cumsum()
df2

In [ ]:
# 발생하는 누적합 결측치는 바로 뒤의 값을 채우고
df2 = df2.fillna(method='bfill')
# method : 결측값을 변경할 방식. bfill로 할경우 결측값을 바로 아래 값과 동일하게 변경.
# ffill로 할 경우 결측값을 바로 위 값과 동일하게 변경.
df2

In [ ]:
df2.mean()

980.3783783783783

#1-9
* 주어진 데이터에서 'f5'컬럼을 표준화(Standardization (Z-score Normalization))하고 
* 그 중앙값을 구하시오
* 데이터셋 : basic1.csv

In [ ]:
# 'f5'컬럼을 표준화(Standardization (Z-score Normalization))
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
df['f5']=scaler.fit_transform(df[['f5']])

In [ ]:
print(df['f5'].median())

0.260619629559015

#1-10
* 수치형 변수 변환하기
* 주어진 데이터에서 20세 이상인 데이터를 추출하고 
* 'f1'컬럼을 결측치를 최빈값으로 채운 후, f1 컬럼의 여-존슨과 박스콕스 변환 값을 구하고, 
* 두 값의 차이를 절대값으로 구한다음 모두 더해 소수점 둘째 자리까지 출력(반올림)하시오

In [5]:
data = '/content/basic1.csv'

In [19]:
df=pd.read_csv(data)
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [12]:
df = df[df['age']>=20]

In [8]:
# 'f1' 최빈값 확인
df['f1'].mode()

0    50.0
dtype: float64

In [16]:
# 최빈값으로 'f1' 컬럼 결측치 대체
df['f1'] = df['f1'].fillna(df['f1'].mode()[0])

In [17]:
df['f1']

2     61.0
3     50.0
4     85.0
5     57.0
6     60.0
      ...
94    43.0
95    53.0
96    50.0
97    58.0
99    53.0
Name: f1, Length: 83, dtype: float64

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 83 entries, 2 to 99
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      83 non-null     object
 1   age     83 non-null     float64
 2   city    83 non-null     object
 3   f1      83 non-null     float64
 4   f2      83 non-null     int64
 5   f3      5 non-null      object
 6   f4      83 non-null     object
 7   f5      83 non-null     float64
dtypes: float64(3), int64(1), object(4)
memory usage: 5.8+ KB

In [19]:
from sklearn.preprocessing import power_transform

In [20]:
# 'f1'데이터 여-존슨 yeo-johnson 값 구하기
df['y'] = power_transform(df[['f1']]) # method 디폴트 값은 여-존슨’yeo-johnson’
df['y'].head()

2    0.101083
3   -0.585402
4    1.463459
5   -0.143094
6    0.040578
Name: y, dtype: float64

False로 설정한 경우에는 원본 데이터의 평균에서 비슷하게 정규화가 되는 것 같고
true로 설정하는 경우에는 말 그대로 평균=0, 표준편차 = 1로 변환된다

함수 파라미터 기본값이 True로 설정되어있는 거보면 대부분 True를 쓴다는것

In [21]:
# 'f1'데이터 박스-콕스 box-cox 값 구하기
df['b'] = power_transform(df[['f1']], method='box-cox')
df['b'].head()

2    0.100290
3   -0.585656
4    1.463969
5   -0.143784
6    0.039801
Name: b, dtype: float64

In [22]:
# 두 값의 차이를 절대값으로 구한다음 모두 더해 소수점 둘째 자리까지 출력(반올림)
round(sum(np.abs(df['y'] - df['b'])),2)

0.05

#1-11
* min-max스케일링 기준 상하위 5% 구하기
* 주어진 데이터에서 'f5'컬럼을 min-max 스케일 변환한 후, 상위 5%와 하위 5% 값의 합을 구하시오

In [28]:
df['f5'].max()

98.42989897

In [29]:
df['f5'].min()

9.796377581

In [33]:
# 'f5'컬럼을 min-max 스케일 변환한 후
from sklearn.preprocessing import MinMaxScaler
sclar = MinMaxScaler()

df['f5'] = sclar.fit_transform(df[['f5']])

In [34]:
lower = df['f5'].quantile(0.05)
print(lower)

0.03670782406038746

In [35]:
upper = df['f5'].quantile(0.95)
print(upper)

0.9881662742993513

In [36]:
# 상위 5%와 하위 5% 값의 합을 구하시오
print(lower + upper)

1.0248740983597389

#1-12
* city와 f4를 기준으로 f5의 평균값을 구한 다음, f5를 기준으로 상위 7개 값을 모두 더해 출력하시오 (소수점 둘째자리까지 출력)
* 데이터셋 : basic1.csv

In [ ]:
df2 = df.groupby(['city','f4'])[['f5']].mean()
df2

In [59]:
df2 = df2.reset_index().sort_values('f5', ascending=False).head(7)
df2

   city    f4         f5
36   서울  ENFP  98.429899
2    경기  ESFJ  97.381034
44   서울  INTJ  91.297791
41   서울  ESTP  91.297791
47   서울  ISFP  91.057640
7    경기  INFP  90.531801
42   서울  INFJ  83.685380

In [60]:
print(round(df2['f5'].sum(),2))

643.68

#1-13
* 주어진 데이터 셋에서 age컬럼 상위 20개의 데이터를 구한 다음 
* f1의 결측치를 중앙값으로 채운다.
* 그리고 f4가 ISFJ와 f5가 20 이상인 
* f1의 평균값을 출력하시오!

In [120]:
df = df.sort_values(by='age',ascending=False).reset_index(drop=True)

In [125]:
df = df[:20]
df

      id    age city    f1  f2   f3    f4         f5
0   id97  100.0   경기  77.5   0  NaN  INFP  67.886373
1   id37  100.0   부산  77.5   0  NaN  ESTP  33.308999
2   id45   97.0   대구  88.0   0  NaN  ENFJ  13.049921
3   id52   97.0   대구  82.0   1  NaN  ISFJ  90.496999
4   id92   97.0   경기  78.0   1  NaN  INFP  97.381034
5   id10   95.0   서울  74.0   1  NaN  ISFP  98.429899
6   id46   93.0   대구  77.5   0  NaN  ESTJ  67.886373
7   id78   92.0   경기  96.0   1  NaN  INTJ  69.730313
8   id96   92.0   경기  53.0   1  NaN  ENTJ  52.667078
9   id73   90.0   경기  77.5   1  NaN  ISFJ  73.586397
10  id21   90.0   부산  77.5   1  NaN  ISFP  29.269869
11  id88   89.0   경기  75.0   0  NaN  ESTJ  60.339826
12  id63   88.0   경기  86.0   1  NaN  ISFJ  73.586397
13  id66   87.0   경기  77.5   1  NaN  ISFP  17.252986
14  id38   87.0   부산  77.5   1  NaN  ESTP  83.685380
15  id61   87.0   경기  62.0   2  NaN  INTP  69.730313
16  id50   86.0   대구  78.0   1  NaN  ENFP  60.339826
17  id81   86.0   경기  50.0   1  NaN  ISFJ  37.113739
18  id31   86.0   부산  77.0   0  NaN  ESFJ  73.586397
19  id94   84.0   경기  77.5   1  NaN  ESTJ  90.496999

In [124]:
df['f1']= df['f1'].fillna(df['f1'].median())

In [127]:
df2 = (df['f4']=='ISFJ') & (df['f5']>=20)
df2

0     False
1     False
2     False
3      True
4     False
5     False
6     False
7     False
8     False
9      True
10    False
11    False
12     True
13    False
14    False
15    False
16    False
17     True
18    False
19    False
dtype: bool

In [129]:
df[df2]['f1'].mean()

73.875

#1-14
* 주어진 데이터 셋에서 f2가 0값인 데이터를 age를 기준으로 오름차순 정렬하고
* 앞에서 부터 20개의 데이터를 추출한 후 
* f1 결측치(최소값)를 채우기 전과 후의 분산 차이를 계산하시오 (소수점 둘째 자리까지)

In [20]:
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [21]:
df = df[df['f2']==0]

In [22]:
df = df.sort_values(by='age')

In [23]:
df = df.head(20)

In [24]:
df_var1 = df['f1'].var()
# .var() 분산함수

In [25]:
df['f1'] = df['f1'].fillna(df['f1'].min())

In [26]:
df_var2 = df['f1'].var()

In [29]:
print(round((df_var1 - df_var2),2))

38.44

#1-15
* 2022년 5월 sales의 중앙값을 구하시오

In [30]:
data= '/content/basic2.csv'

In [31]:
df=pd.read_csv(data)
df.head()

         Date     Sales      PV      UV  Events
0  2022-01-01  22711525  397349  4421.0       1
1  2022-01-02     36779    3969  2289.0       0
2  2022-01-03  13943875  373890     NaN       1
3  2022-01-04   8088593  142054  2157.0       0
4  2022-01-05   2395374  190684     NaN       0

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    730 non-null    datetime64[ns]
 1   Sales   730 non-null    int64
 2   PV      730 non-null    int64
 3   UV      684 non-null    float64
 4   Events  730 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 28.6 KB

In [34]:
df['Date']= pd.to_datetime(df['Date'])

In [44]:
df['year']= df['Date'].dt.year
#dt는 dtype이 datetime일때, object라면 .str[:4]로 연도를 찾으면 됨

In [45]:
df['month']= df['Date'].dt.month

In [46]:
df['day']= df['Date'].dt.day

In [47]:
df.head()

        Date     Sales      PV      UV  Events  year  month  day
0 2022-01-01  22711525  397349  4421.0       1  2022      1    1
1 2022-01-02     36779    3969  2289.0       0  2022      1    2
2 2022-01-03  13943875  373890     NaN       1  2022      1    3
3 2022-01-04   8088593  142054  2157.0       0  2022      1    4
4 2022-01-05   2395374  190684     NaN       0  2022      1    5

In [49]:
df_2022_5 = df[(df['year']== 2022)&(df['month']==5)]

In [51]:
df_2022_5['Sales'].median()

1477685.0

#1-16
* 주어진 데이터에서 2022년 5월 주말과 평일의 sales컬럼 평균값 차이를 구하시오 (소수점 둘째자리까지 출력, 반올림)

In [73]:
df.head()

,Date,Sales,PV,UV,Events,year,month,day,week_day,weekend
0,2022-01-01,22711525,397349,4421.0,1,2022,1,1,5,True
1,2022-01-02,36779,3969,2289.0,0,2022,1,2,6,True
2,2022-01-03,13943875,373890,NaN,1,2022,1,3,0,False
3,2022-01-04,8088593,142054,2157.0,0,2022,1,4,1,False
4,2022-01-05,2395374,190684,NaN,0,2022,1,5,2,False

In [53]:
df['week_day']= df['Date'].dt.dayofweek

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      730 non-null    datetime64[ns]
 1   Sales     730 non-null    int64
 2   PV        730 non-null    int64
 3   UV        684 non-null    float64
 4   Events    730 non-null    int64
 5   year      730 non-null    int64
 6   month     730 non-null    int64
 7   day       730 non-null    int64
 8   week_day  730 non-null    int64
 9   weekend   730 non-null    bool
dtypes: bool(1), datetime64[ns](1), float64(1), int64(7)
memory usage: 52.2 KB

In [81]:
df['weekend']= (df['week_day'] == 5) | (df['week_day']==6)

In [ ]:
week = (df['year']==2022) & (df['month']==5) & (df['weekend'])

In [75]:
not_week = (df['year']==2022) & (df['month']==5) & (~df['weekend'])

In [84]:
df[week] #조건에 맞는 변수를 df에서 불러오기 / 'week'는 column을 불러오는 것

,Date,Sales,PV,UV,Events,year,month,day,week_day,weekend
120,2022-05-01,976303,45225,1142.0,0,2022,5,1,6,True
126,2022-05-07,3370701,470556,5737.0,1,2022,5,7,5,True
127,2022-05-08,5682682,68592,2431.0,0,2022,5,8,6,True
133,2022-05-14,33151713,418552,5225.0,1,2022,5,14,5,True
134,2022-05-15,2565232,25985,1932.0,0,2022,5,15,6,True
140,2022-05-21,394356,5934,237.0,0,2022,5,21,5,True
141,2022-05-22,12333077,140402,3724.0,0,2022,5,22,6,True
147,2022-05-28,446467,6543,76.0,0,2022,5,28,5,True
148,2022-05-29,1325024,97864,1743.0,0,2022,5,29,6,True

In [86]:
df1 = df[week]['Sales'].mean()

In [87]:
df2 =df[not_week]['Sales'].mean()

In [91]:
round((df1-df2),2)

3010339.1