<a href="https://colab.research.google.com/github/joungminhee/study/blob/master/big_data2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1-4
왜도와 첨도 구하기
* 주어진 데이터 중 train.csv에서 'SalePrice'컬럼의 왜도와 첨도를 구한 값과, 
* 'SalePrice'컬럼을 스케일링(log1p)로 변환한 이후 왜도와 첨도를 구해 모두 더한 다음 소수점 2째자리까지 출력하시오
* 데이터셋 : House Prices - Advanced Regression Technique

In [3]:
import pandas as pd
import numpy as np

In [1]:
data = '/content/집값예측.csv'

In [20]:
df = pd.read_csv(data)
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [ ]:
df.info()

In [23]:
#  'SalePrice'컬럼의 왜도와 첨도를 구한 값
skew = df['SalePrice'].skew()
kurt = df['SalePrice'].kurt()
print(skew)
print(kurt)
# DataFrame.skew() 왜도
# DataFrame.kurt() 첨도

1.8828757597682129
6.536281860064529

In [24]:
# 'SalePrice'컬럼을 스케일링(log1p)로 변환
df['SalePrice'] = np.log1p(df['SalePrice'])

In [34]:
# 왜도와 첨도를 구해 모두 더한 다음 소수점 2째자리까지 출력하시오
skew2 = df['SalePrice'].skew()
kurt2 = df['SalePrice'].kurt()

print(round(skew+kurt+skew2+kurt2,2))

9.35

# 1-5
조건에 맞는 데이터 표준편차 구하기
* 주어진 데이터 중 basic1.csv에서 'f4'컬럼 값이 'ENFJ'와 'INFP'인 'f1'의 표준편차 차이를 절대값으로 구하시오
* 데이터셋 : basic1.csv

In [97]:
data = '/content/basic1.csv'
df= pd.read_csv(data)
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [45]:
# 'f4'컬럼 값이 'ENFJ'와 'INFP'
enfj = df[df['f4']=='ENFJ']['f1'].std()

In [46]:
infp = df[df['f4']=='INFP']['f1'].std()

In [49]:
# 'f1'의 표준편차 차이를 절대값으로 구하시오
print(abs(enfj-infp))

5.859621525876811

# 1-6
결측치 제거 및 그룹 합계에서 조건에 맞는 값 찾아 출력
* 주어진 데이터 중 basic1.csv에서 'f1'컬럼 결측 데이터를 제거하고, 
* 'city'와 'f2'을 기준으로 묶어 합계를 구하고, 
* 'city가 경기이면서 f2가 0'인 조건에 만족하는 f1 값을 구하시오
* 데이터셋 : basic1.csv

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69 entries, 1 to 99
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      69 non-null     object
 1   age     69 non-null     float64
 2   city    69 non-null     object
 3   f1      69 non-null     float64
 4   f2      69 non-null     int64
 5   f3      4 non-null      object
 6   f4      69 non-null     object
 7   f5      69 non-null     float64
dtypes: float64(3), int64(1), object(4)
memory usage: 4.9+ KB

In [77]:
# 'f1'컬럼 결측 데이터를 제거하고,
df = df[df['f1'].notnull()] # df의 f1이 null이 아닌 것을 변수에 저장 -> 결측치 제거

In [87]:
# 'city'와 'f2'을 기준으로 묶어 합계를 구하고
df2 = df.groupby(['city','f2']).sum()
df2

            age     f1           f5
city f2
경기   0   1088.9  833.0  1391.927648
     1    976.0  670.0   935.958628
     2    239.0  311.0   362.300060
대구   0    578.0  527.0   371.184620
     1    393.6  235.0   404.779978
     2    140.0  211.0    79.667919
부산   0    481.0  389.0   395.272907
     1    430.7  315.0   460.657406
     2     16.5   47.0   101.195372
서울   0    220.0  278.0   484.809540
     1    389.3  534.0   506.371383
     2    143.3  207.0   179.328213

In [91]:
# 'city가 경기이면서 f2가 0'인 조건에 만족하는 f1 값을 구하시오
print(df2.iloc[0]['f1'])

833.0

#1-7
* 'f4'컬럼의 값이 'ESFJ'인 데이터를 'ISFJ'로 대체하고, 
* 'city'가 '경기'이면서 'f4'가 'ISFJ'인 데이터 중 'age'컬럼의 최대값을 출력하시오!

In [102]:
# 'f4'컬럼의 값이 'ESFJ'인 데이터를 'ISFJ'로 대체하고
df[df['f4']=='ESFJ'] = 'ISFJ'
# df['f4'] = df['f4'].replace('ESFJ', 'ISFJ')

In [103]:
df[df['f4'] == 'ESFJ']

Empty DataFrame
Columns: [id, age, city, f1, f2, f3, f4, f5]
Index: []

In [104]:
df[(df['city']=='경기')&(df['f4']=='ISFJ')]['age'].max()

90.0

#1-8
* 주어진 데이터 셋에서 'f2' 컬럼이 1인 조건에 해당하는 데이터의 'f1'컬럼 누적합을 계산한다. 
* 이때 발생하는 누적합 결측치는 바로 뒤의 값을 채우고, 누적합의 평균값을 출력한다. 
* (단, 결측치 바로 뒤의 값이 없으면 다음에 나오는 값을 채워넣는다
* 데이터셋 : basic1.csv

In [109]:
# 'f2' 컬럼이 1인 조건에 해당하는 데이터의 'f1'컬럼 누적합
df2 = df[df['f2']==1]['f1'].cumsum()
df2

1       70.0
2      131.0
6      191.0
7      292.0
9      366.0
13     416.0
14     483.0
16       NaN
19     534.0
20       NaN
21     606.0
22     681.0
25     738.0
27     772.0
33       NaN
35     849.0
37       NaN
46     924.0
49    1002.0
51    1084.0
53       NaN
55       NaN
58       NaN
62    1170.0
65       NaN
66    1222.0
69    1318.0
72       NaN
77    1414.0
80    1464.0
82    1514.0
86       NaN
88    1580.0
91    1658.0
93       NaN
94    1701.0
95    1754.0
Name: f1, dtype: object

In [ ]:
# 발생하는 누적합 결측치는 바로 뒤의 값을 채우고
df2 = df2.fillna(method='bfill')
# method : 결측값을 변경할 방식. bfill로 할경우 결측값을 바로 아래 값과 동일하게 변경.
# ffill로 할 경우 결측값을 바로 위 값과 동일하게 변경.
df2

In [114]:
df2.mean()

980.3783783783783

#1-9
* 주어진 데이터에서 'f5'컬럼을 표준화(Standardization (Z-score Normalization))하고 
* 그 중앙값을 구하시오
* 데이터셋 : basic1.csv

In [118]:
# 'f5'컬럼을 표준화(Standardization (Z-score Normalization))
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
df['f5']=scaler.fit_transform(df[['f5']])

In [121]:
print(df['f5'].median())

0.260619629559015