<a href="https://colab.research.google.com/github/joungminhee/study/blob/master/big_data2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1-4
왜도와 첨도 구하기
* 주어진 데이터 중 train.csv에서 'SalePrice'컬럼의 왜도와 첨도를 구한 값과, 
* 'SalePrice'컬럼을 스케일링(log1p)로 변환한 이후 왜도와 첨도를 구해 모두 더한 다음 소수점 2째자리까지 출력하시오
* 데이터셋 : House Prices - Advanced Regression Technique

In [4]:
import pandas as pd
import numpy as np

In [ ]:
data = '/content/집값예측.csv'

In [ ]:
df = pd.read_csv(data)
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [ ]:
df.info()

In [ ]:
#  'SalePrice'컬럼의 왜도와 첨도를 구한 값
skew = df['SalePrice'].skew()
kurt = df['SalePrice'].kurt()
print(skew)
print(kurt)
# DataFrame.skew() 왜도
# DataFrame.kurt() 첨도

1.8828757597682129
6.536281860064529

In [ ]:
# 'SalePrice'컬럼을 스케일링(log1p)로 변환
df['SalePrice'] = np.log1p(df['SalePrice'])

In [ ]:
# 왜도와 첨도를 구해 모두 더한 다음 소수점 2째자리까지 출력하시오
skew2 = df['SalePrice'].skew()
kurt2 = df['SalePrice'].kurt()

print(round(skew+kurt+skew2+kurt2,2))

9.35

# 1-5
조건에 맞는 데이터 표준편차 구하기
* 주어진 데이터 중 basic1.csv에서 'f4'컬럼 값이 'ENFJ'와 'INFP'인 'f1'의 표준편차 차이를 절대값으로 구하시오
* 데이터셋 : basic1.csv

In [ ]:
data = '/content/basic1.csv'
df= pd.read_csv(data)
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [ ]:
# 'f4'컬럼 값이 'ENFJ'와 'INFP'
enfj = df[df['f4']=='ENFJ']['f1'].std()

In [ ]:
infp = df[df['f4']=='INFP']['f1'].std()

In [ ]:
# 'f1'의 표준편차 차이를 절대값으로 구하시오
print(abs(enfj-infp))

5.859621525876811

# 1-6
결측치 제거 및 그룹 합계에서 조건에 맞는 값 찾아 출력
* 주어진 데이터 중 basic1.csv에서 'f1'컬럼 결측 데이터를 제거하고, 
* 'city'와 'f2'을 기준으로 묶어 합계를 구하고, 
* 'city가 경기이면서 f2가 0'인 조건에 만족하는 f1 값을 구하시오
* 데이터셋 : basic1.csv

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69 entries, 1 to 99
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      69 non-null     object
 1   age     69 non-null     float64
 2   city    69 non-null     object
 3   f1      69 non-null     float64
 4   f2      69 non-null     int64
 5   f3      4 non-null      object
 6   f4      69 non-null     object
 7   f5      69 non-null     float64
dtypes: float64(3), int64(1), object(4)
memory usage: 4.9+ KB

In [ ]:
# 'f1'컬럼 결측 데이터를 제거하고,
df = df[df['f1'].notnull()] # df의 f1이 null이 아닌 것을 변수에 저장 -> 결측치 제거

In [ ]:
# 'city'와 'f2'을 기준으로 묶어 합계를 구하고
df2 = df.groupby(['city','f2']).sum()
df2

            age     f1           f5
city f2
경기   0   1088.9  833.0  1391.927648
     1    976.0  670.0   935.958628
     2    239.0  311.0   362.300060
대구   0    578.0  527.0   371.184620
     1    393.6  235.0   404.779978
     2    140.0  211.0    79.667919
부산   0    481.0  389.0   395.272907
     1    430.7  315.0   460.657406
     2     16.5   47.0   101.195372
서울   0    220.0  278.0   484.809540
     1    389.3  534.0   506.371383
     2    143.3  207.0   179.328213

In [ ]:
# 'city가 경기이면서 f2가 0'인 조건에 만족하는 f1 값을 구하시오
print(df2.iloc[0]['f1'])

833.0

#1-7
* 'f4'컬럼의 값이 'ESFJ'인 데이터를 'ISFJ'로 대체하고, 
* 'city'가 '경기'이면서 'f4'가 'ISFJ'인 데이터 중 'age'컬럼의 최대값을 출력하시오!

In [ ]:
# 'f4'컬럼의 값이 'ESFJ'인 데이터를 'ISFJ'로 대체하고
df[df['f4']=='ESFJ'] = 'ISFJ'
# df['f4'] = df['f4'].replace('ESFJ', 'ISFJ')

In [ ]:
df[df['f4'] == 'ESFJ']

Empty DataFrame
Columns: [id, age, city, f1, f2, f3, f4, f5]
Index: []

In [ ]:
df[(df['city']=='경기')&(df['f4']=='ISFJ')]['age'].max()

90.0

#1-8
* 주어진 데이터 셋에서 'f2' 컬럼이 1인 조건에 해당하는 데이터의 'f1'컬럼 누적합을 계산한다. 
* 이때 발생하는 누적합 결측치는 바로 뒤의 값을 채우고, 누적합의 평균값을 출력한다. 
* (단, 결측치 바로 뒤의 값이 없으면 다음에 나오는 값을 채워넣는다
* 데이터셋 : basic1.csv

In [ ]:
# 'f2' 컬럼이 1인 조건에 해당하는 데이터의 'f1'컬럼 누적합
df2 = df[df['f2']==1]['f1'].cumsum()
df2

In [ ]:
# 발생하는 누적합 결측치는 바로 뒤의 값을 채우고
df2 = df2.fillna(method='bfill')
# method : 결측값을 변경할 방식. bfill로 할경우 결측값을 바로 아래 값과 동일하게 변경.
# ffill로 할 경우 결측값을 바로 위 값과 동일하게 변경.
df2

In [ ]:
df2.mean()

980.3783783783783

#1-9
* 주어진 데이터에서 'f5'컬럼을 표준화(Standardization (Z-score Normalization))하고 
* 그 중앙값을 구하시오
* 데이터셋 : basic1.csv

In [ ]:
# 'f5'컬럼을 표준화(Standardization (Z-score Normalization))
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
df['f5']=scaler.fit_transform(df[['f5']])

In [ ]:
print(df['f5'].median())

0.260619629559015

#1-10
* 수치형 변수 변환하기
* 주어진 데이터에서 20세 이상인 데이터를 추출하고 
* 'f1'컬럼을 결측치를 최빈값으로 채운 후, f1 컬럼의 여-존슨과 박스콕스 변환 값을 구하고, 
* 두 값의 차이를 절대값으로 구한다음 모두 더해 소수점 둘째 자리까지 출력(반올림)하시오

In [24]:
data = '/content/basic1.csv'

In [25]:
df=pd.read_csv(data)
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [12]:
df = df[df['age']>=20]

In [8]:
# 'f1' 최빈값 확인
df['f1'].mode()

0    50.0
dtype: float64

In [16]:
# 최빈값으로 'f1' 컬럼 결측치 대체
df['f1'] = df['f1'].fillna(df['f1'].mode()[0])

In [17]:
df['f1']

2     61.0
3     50.0
4     85.0
5     57.0
6     60.0
      ...
94    43.0
95    53.0
96    50.0
97    58.0
99    53.0
Name: f1, Length: 83, dtype: float64

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 83 entries, 2 to 99
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      83 non-null     object
 1   age     83 non-null     float64
 2   city    83 non-null     object
 3   f1      83 non-null     float64
 4   f2      83 non-null     int64
 5   f3      5 non-null      object
 6   f4      83 non-null     object
 7   f5      83 non-null     float64
dtypes: float64(3), int64(1), object(4)
memory usage: 5.8+ KB

In [19]:
from sklearn.preprocessing import power_transform

In [20]:
# 'f1'데이터 여-존슨 yeo-johnson 값 구하기
df['y'] = power_transform(df[['f1']]) # method 디폴트 값은 여-존슨’yeo-johnson’
df['y'].head()

2    0.101083
3   -0.585402
4    1.463459
5   -0.143094
6    0.040578
Name: y, dtype: float64

False로 설정한 경우에는 원본 데이터의 평균에서 비슷하게 정규화가 되는 것 같고
true로 설정하는 경우에는 말 그대로 평균=0, 표준편차 = 1로 변환된다

함수 파라미터 기본값이 True로 설정되어있는 거보면 대부분 True를 쓴다는것

In [21]:
# 'f1'데이터 박스-콕스 box-cox 값 구하기
df['b'] = power_transform(df[['f1']], method='box-cox')
df['b'].head()

2    0.100290
3   -0.585656
4    1.463969
5   -0.143784
6    0.039801
Name: b, dtype: float64

In [22]:
# 두 값의 차이를 절대값으로 구한다음 모두 더해 소수점 둘째 자리까지 출력(반올림)
round(sum(np.abs(df['y'] - df['b'])),2)

0.05

#1-11
* min-max스케일링 기준 상하위 5% 구하기
* 주어진 데이터에서 'f5'컬럼을 min-max 스케일 변환한 후, 상위 5%와 하위 5% 값의 합을 구하시오

In [28]:
df['f5'].max()

98.42989897

In [29]:
df['f5'].min()

9.796377581

In [33]:
# 'f5'컬럼을 min-max 스케일 변환한 후
from sklearn.preprocessing import MinMaxScaler
sclar = MinMaxScaler()

df['f5'] = sclar.fit_transform(df[['f5']])

In [34]:
lower = df['f5'].quantile(0.05)
print(lower)

0.03670782406038746

In [35]:
upper = df['f5'].quantile(0.95)
print(upper)

0.9881662742993513

In [36]:
# 상위 5%와 하위 5% 값의 합을 구하시오
print(lower + upper)

1.0248740983597389