<a href="https://colab.research.google.com/github/joungminhee/study/blob/master/big_data3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#라이브러리 임포트

In [1]:
import pandas as pd
import numpy as np

#1-20
주어진 데이터(basic2.csv)에서 주 단위 Sales의 합계를 구하고, 가장 큰 값을 가진 주와 작은 값을 가진 주의 차이를 구하시오(절대값)

In [2]:
data= '/content/basic2.csv'

In [3]:
df=pd.read_csv(data)
df.head()

         Date     Sales      PV      UV  Events
0  2022-01-01  22711525  397349  4421.0       1
1  2022-01-02     36779    3969  2289.0       0
2  2022-01-03  13943875  373890     NaN       1
3  2022-01-04   8088593  142054  2157.0       0
4  2022-01-05   2395374  190684     NaN       0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    730 non-null    datetime64[ns]
 1   Sales   730 non-null    int64
 2   PV      730 non-null    int64
 3   UV      684 non-null    float64
 4   Events  730 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 28.6 KB

In [6]:
df['Date'] = pd.to_datetime(df['Date'])

In [8]:
df_index = df.set_index('Date')
df_index

               Sales      PV      UV  Events
Date
2022-01-01  22711525  397349  4421.0       1
2022-01-02     36779    3969  2289.0       0
2022-01-03  13943875  373890     NaN       1
2022-01-04   8088593  142054  2157.0       0
2022-01-05   2395374  190684     NaN       0
...              ...     ...     ...     ...
2023-12-27  33846609  415067  7360.0       1
2023-12-28   3659566  208601  2262.0       1
2023-12-29   1164008   14309   193.0       0
2023-12-30   3977696   60935     NaN       0
2023-12-31   3719764   60963  1507.0       0

[730 rows x 4 columns]

In [11]:
# 단위
# 주 단위 W
# 2주 단위 2W
# 월 단위 M
df_sum = df_index.resample('W')['Sales'].sum()
df_sum

Date
2022-01-02    22748304
2022-01-09    33373822
2022-01-16    20754519
2022-01-23    21880751
2022-01-30    28878452
                ...
2023-12-03    47120909
2023-12-10    46398053
2023-12-17    20763518
2023-12-24    34528035
2023-12-31    51435189
Freq: W-SUN, Name: Sales, Length: 105, dtype: int64

In [14]:
df_max = df_sum.max()

In [15]:
df_min = df_sum.min()

In [16]:
abs(df_max - df_min)

91639050

#1-21
* f1의 결측치를 채운 후 age 컬럼의 중복 제거 전과 후의 'f1' 중앙값 차이를 구하시오
* 결측치는 f1의 데이터 중 내림차순 정렬 후 10번째 값으로 채움
* 중복 데이터 발생시 뒤에 나오는 데이터를 삭제함
* 최종 결과값은 절대값으로 출력

In [17]:
data1='/content/basic1.csv'

In [24]:
df1=pd.read_csv(data1)
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      100 non-null    object
 1   age     100 non-null    float64
 2   city    100 non-null    object
 3   f1      69 non-null     float64
 4   f2      100 non-null    int64
 5   f3      5 non-null      object
 6   f4      100 non-null    object
 7   f5      100 non-null    float64
dtypes: float64(3), int64(1), object(4)
memory usage: 6.4+ KB

In [25]:
df1['f1'].sort_values(ascending=False).head(10)

56    111.0
7     101.0
57    100.0
73     98.0
71     97.0
69     96.0
77     96.0
32     94.0
48     88.0
44     88.0
Name: f1, dtype: float64

In [26]:
df1['f1'] = df1['f1'].fillna(88)

In [32]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      100 non-null    object
 1   age     100 non-null    float64
 2   city    100 non-null    object
 3   f1      100 non-null    float64
 4   f2      100 non-null    int64
 5   f3      5 non-null      object
 6   f4      100 non-null    object
 7   f5      100 non-null    float64
dtypes: float64(3), int64(1), object(4)
memory usage: 6.4+ KB

In [37]:
before = df1['f1'].median()

In [40]:
# .drop_duplicates() 중복제거함수
df1 = df1.drop_duplicates(subset=['age'])

In [42]:
after = df1['f1'].median()

In [43]:
abs(before - after)

0.5

#1-22
* 주어진 데이터(basic2.csv)에서 새로운 컬럼(1일 이전 시차 컬럼)을 만들고, 
* Events가 1이면서 Sales가 1000000이하인 조건에 맞는 새로운 컬럼 합을 구하시오

In [44]:
data ='/content/basic2.csv'
df = pd.read_csv(data)

In [45]:
df.head()

         Date     Sales      PV      UV  Events
0  2022-01-01  22711525  397349  4421.0       1
1  2022-01-02     36779    3969  2289.0       0
2  2022-01-03  13943875  373890     NaN       1
3  2022-01-04   8088593  142054  2157.0       0
4  2022-01-05   2395374  190684     NaN       0

In [46]:
# 결측치 확인
df.isnull().sum()

Date       0
Sales      0
PV         0
UV        46
Events     0
dtype: int64

In [48]:
# period에 넣은 값만큼 행이 밀립니다.
# 행전체를 아래로 내리고 싶다면 양의정수를 넣고 위로 올리고 싶다면 음의 정수를 넣습니다.
df['before_1']= df['PV'].shift(1)

In [49]:
df.head()

         Date     Sales      PV      UV  Events  before_1
0  2022-01-01  22711525  397349  4421.0       1       NaN
1  2022-01-02     36779    3969  2289.0       0  397349.0
2  2022-01-03  13943875  373890     NaN       1    3969.0
3  2022-01-04   8088593  142054  2157.0       0  373890.0
4  2022-01-05   2395374  190684     NaN       0  142054.0

In [50]:
# 1일 씩 미뤘음으로 가장 앞이 결측값이 됨 (바로 뒤의 값으로 채움=bfill)
df['before_1'] = df['before_1'].fillna(method = 'bfill')
# method : 결측값을 변경할 방식입니다. bfill로 할경우 결측값을 바로 아래 값과 동일하게 변경합니다.
# ffill로 할 경우 결측값을 바로 위 값과 동일하게 변경합니다.
df.head()

         Date     Sales      PV      UV  Events  before_1
0  2022-01-01  22711525  397349  4421.0       1  397349.0
1  2022-01-02     36779    3969  2289.0       0  397349.0
2  2022-01-03  13943875  373890     NaN       1    3969.0
3  2022-01-04   8088593  142054  2157.0       0  373890.0
4  2022-01-05   2395374  190684     NaN       0  142054.0

In [63]:
# Events가 1이면서 Sales가 1000000이하인 조건에 맞는 새로운 컬럼 합
new = (df['Events']==1) & (df['Sales'] <= 1000000)

In [64]:
new #boolen형

0      False
1      False
2      False
3      False
4      False
       ...
725    False
726    False
727    False
728    False
729    False
Length: 730, dtype: bool

In [67]:
df['before_1']

0      397349.0
1      397349.0
2        3969.0
3      373890.0
4      142054.0
         ...
725     51258.0
726    415067.0
727    208601.0
728     14309.0
729     60935.0
Name: before_1, Length: 730, dtype: float64

In [65]:
df[new]['before_1'].sum()
#boolne형에 맞는 값들을 합쳐라

1894876.0